In [1]:
!rm -rf output-*/

## Test 1: discretize = False

In [2]:
!mkdir -p output-1

In [3]:
! PYTHONPATH="$PYTHONPATH:../../" \
python -m FIDDLE.run \
    --data_fname='./input/data.csv' \
    --population_fname='./input/pop.csv' \
    --config_fname='./input/config-1.yaml' \
    --output_dir='./output-1/' \
    --T=4 --dt=1.0 \
    --theta_1=0.001 --theta_2=0.001 --theta_freq=1 \
    --stats_functions 'min' 'max' 'mean' \
    --no_prefilter --no_postfilter

Input:
    Data      : ./input/data.csv
    Population: ./input/pop.csv
    Config    : ./input/config-1.yaml

Output directory: ./output-1/

Input arguments:
    T      = 4.0
    dt     = 1.0
    θ₁     = 0.001
    θ₂     = 0.001
    θ_freq = 1.0
    k      = 3 ['min', 'max', 'mean']

discretize = no

N = 4
L = 4


================================================================================
2) Transform; 3) Post-filter
================================================================================

--------------------------------------------------------------------------------
*) Detecting and parsing value types
--------------------------------------------------------------------------------
Saved as: ./output-1/value_types.csv

--------------------------------------------------------------------------------
*) Separate time-invariant and time-dependent
--------------------------------------------------------------------------------
Variables (time-invariant): 3
Variables (time-dependent): 4
# rows    (time-invariant): 9
# rows    (time-dependent): 23

--------------------------------------------------------------------------------
2-A) Transform time-invariant data
--------------------------------------------------------------------------------
(N × ^d) table            :	 (4, 3)
number of missing entries :	 3 out of 12 total
Time elapsed: 0.027288 seconds

Output
s_all, binary features    :	 (4, 6)
Time elapsed: 0.058650 seconds

--------------------------------------------------------------------------------
2-B) Transform time-dependent data
--------------------------------------------------------------------------------
Total variables    : 4
Frequent variables : ['HR']
M₁ = 1
M₂ = 3
k  = 3 ['min', 'max', 'mean']

Transforming each example...
100%|█████████████████████████████████████████████| 4/4 [00:00<00:00,  4.82it/s]
DONE: Transforming each example...
(freq) number of missing entries :	 5 out of 4×4×1=16 total
(freq) number of imputed entries :	 4
(freq) number of not imputed entries :	 1
(non-freq) number of missing entries :	 41 out of 4×4×3=48 total

(N × L × ^D) table :	 (4, 4, 9)
Time elapsed: 0.917519 seconds
Discretizing features...

Discretizing categorical features...
100%|████████████████████████████████████████████| 9/9 [00:00<00:00, 202.11it/s]
Finished discretizing features

Output
X_all: shape=(4, 4, 12), density=0.599
Time elapsed: 1.008456 seconds

In [4]:
import numpy as np
import pandas as pd
import json
import sparse

S = sparse.load_npz('output-1/S_all.npz')
S_names = json.load(open('output-1/S_all.feature_names.json', 'r'))
S_index = pd.read_csv('output-1/S.ID.csv').set_index(['ID'])
df_S = pd.DataFrame(S.todense(), columns=S_names, index=S_index.index)

X = sparse.load_npz('output-1/X_all.npz')
X_names = json.load(open('output-1/X_all.feature_names.json', 'r'))
X_index = pd.read_csv('output-1/X.ID,t_range.csv').set_index(['ID', 't_range'])
df_X = pd.DataFrame(X.todense().reshape(-1, X.shape[-1]), columns=X_names, index=X_index.index)

display(df_S)
display(df_X)

,AGE_value,ROOM_value:_101,ROOM_value:_102,ROOM_value:_103,SEX_value:F,SEX_value:M
ID,,,,,,
1,50.0,1.0,0.0,0.0,0.0,1.0
2,33.0,0.0,1.0,0.0,0.0,1.0
3,40.0,0.0,0.0,1.0,1.0,0.0
4,41.0,0.0,0.0,0.0,0.0,0.0

               HR_mask  DRUG_A_RATE_value  DRUG_A_ROUTE_value:Bolus  \
ID t_range
1  [0.0, 1.0)      1.0               48.0                       0.0
   [1.0, 2.0)      1.0               48.0                       0.0
   [2.0, 3.0)      1.0               48.0                       0.0
   [3.0, 4.0)      1.0               48.0                       0.0
2  [0.0, 1.0)      1.0               48.0                       0.0
   [1.0, 2.0)      0.0               48.0                       0.0
   [2.0, 3.0)      1.0               48.0                       0.0
   [3.0, 4.0)      1.0               48.0                       0.0
3  [0.0, 1.0)      0.0               48.0                       0.0
   [1.0, 2.0)      1.0               48.0                       1.0
   [2.0, 3.0)      0.0               48.0                       0.0
   [3.0, 4.0)      0.0               48.0                       0.0
4  [0.0, 1.0)      1.0               48.0                       0.0
   [1.0, 2.0)      0.0               48.0                       0.0
   [2.0, 3.0)      1.0               48.0                       0.0
   [3.0, 4.0)      1.0               48.0                       0.0

               DRUG_A_ROUTE_value:IV  DRUG_A_ROUTE_value:Oral  LAB_X_value  \
ID t_range
1  [0.0, 1.0)                    0.0                      0.0          5.0
   [1.0, 2.0)                    0.0                      0.0          5.0
   [2.0, 3.0)                    0.0                      1.0          5.0
   [3.0, 4.0)                    0.0                      0.0          5.0
2  [0.0, 1.0)                    0.0                      0.0          5.0
   [1.0, 2.0)                    0.0                      0.0          5.0
   [2.0, 3.0)                    0.0                      0.0          5.0
   [3.0, 4.0)                    1.0                      0.0          5.0
3  [0.0, 1.0)                    0.0                      0.0          5.0
   [1.0, 2.0)                    0.0                      0.0          5.0
   [2.0, 3.0)                    0.0                      0.0          5.0
   [3.0, 4.0)                    0.0                      0.0          5.0
4  [0.0, 1.0)                    0.0                      0.0          5.0
   [1.0, 2.0)                    0.0                      0.0          5.0
   [2.0, 3.0)                    0.0                      0.0          5.0
   [3.0, 4.0)                    0.0                      0.0          5.0

               HR_delta_time   HR_value  HR_min     HR_max    HR_mean  \
ID t_range
1  [0.0, 1.0)            0.0  71.000000    70.0  71.000000  70.500000
   [1.0, 2.0)            0.0  73.000000    72.0  73.000000  72.500000
   [2.0, 3.0)            0.0  74.000000    74.0  74.000000  74.000000
   [3.0, 4.0)            0.0  75.000000    75.0  75.000000  75.000000
2  [0.0, 1.0)            0.0  61.000000    60.0  61.000000  60.333333
   [1.0, 2.0)            1.0  61.000000    61.0  61.000000  61.000000
   [2.0, 3.0)            0.0  78.000000    73.0  78.000000  75.500000
   [3.0, 4.0)            0.0  75.000000    75.0  75.000000  75.000000
3  [0.0, 1.0)            0.0  75.533333    75.0  75.533333  75.255556
   [1.0, 2.0)            0.0  90.000000    90.0  90.000000  90.000000
   [2.0, 3.0)            1.0  90.000000    90.0  90.000000  90.000000
   [3.0, 4.0)            2.0  90.000000    90.0  90.000000  90.000000
4  [0.0, 1.0)            0.0  80.000000    80.0  80.000000  80.000000
   [1.0, 2.0)            1.0  80.000000    80.0  80.000000  80.000000
   [2.0, 3.0)            0.0  62.000000    62.0  62.000000  62.000000
   [3.0, 4.0)            0.0  73.000000    73.0  73.000000  73.000000

               LAB_X_value_str:<1
ID t_range
1  [0.0, 1.0)                 0.0
   [1.0, 2.0)                 0.0
   [2.0, 3.0)                 1.0
   [3.0, 4.0)                 0.0
2  [0.0, 1.0)                 0.0
   [1.0, 2.0)                 0.0
   [2.0, 3.0)                 0.0
   [3.0, 4.0)                 0.0
3  [0.0, 1.0)                 0.0
   [1.0, 2.0)                 0.0
   [2.0, 3.0)                 0.0
   [3.0, 4.0)                 0.0
4  [0.0, 1.0)                 0.0
   [1.0, 2.0)                 0.0
   [2.0, 3.0)                 0.0
   [3.0, 4.0)                 0.0

## Test 2: discretize = True, use_ordinal_encoding = False

In [5]:
!mkdir -p output-2

In [6]:
! PYTHONPATH="$PYTHONPATH:../../" \
python -m FIDDLE.run \
    --data_fname='./input/data.csv' \
    --population_fname='./input/pop.csv' \
    --config_fname='./input/config-2.yaml' \
    --output_dir='./output-2/' \
    --T=4 --dt=1.0 \
    --theta_1=0.001 --theta_2=0.001 --theta_freq=1 \
    --stats_functions 'min' 'max' 'mean' \
    --no_prefilter --no_postfilter

Input:
    Data      : ./input/data.csv
    Population: ./input/pop.csv
    Config    : ./input/config-2.yaml

Output directory: ./output-2/

Input arguments:
    T      = 4.0
    dt     = 1.0
    θ₁     = 0.001
    θ₂     = 0.001
    θ_freq = 1.0
    k      = 3 ['min', 'max', 'mean']

discretize = yes
    S discretization bins: to be computed from data
    X discretization bins: to be computed from data

N = 4
L = 4


================================================================================
2) Transform; 3) Post-filter
================================================================================

--------------------------------------------------------------------------------
*) Detecting and parsing value types
--------------------------------------------------------------------------------
Saved as: ./output-2/value_types.csv

--------------------------------------------------------------------------------
*) Separate time-invariant and time-dependent
--------------------------------------------------------------------------------
Variables (time-invariant): 3
Variables (time-dependent): 4
# rows    (time-invariant): 9
# rows    (time-dependent): 23

--------------------------------------------------------------------------------
2-A) Transform time-invariant data
--------------------------------------------------------------------------------
(N × ^d) table            :	 (4, 3)
number of missing entries :	 3 out of 12 total
Time elapsed: 0.020094 seconds

Output
s_all, binary features    :	 (4, 10)
Time elapsed: 0.065039 seconds

--------------------------------------------------------------------------------
2-B) Transform time-dependent data
--------------------------------------------------------------------------------
Total variables    : 4
Frequent variables : ['HR']
M₁ = 1
M₂ = 3
k  = 3 ['min', 'max', 'mean']

Transforming each example...
100%|█████████████████████████████████████████████| 4/4 [00:00<00:00,  6.65it/s]
DONE: Transforming each example...
(freq) number of missing entries :	 5 out of 4×4×1=16 total
(freq) number of imputed entries :	 4
(freq) number of not imputed entries :	 1
(non-freq) number of missing entries :	 41 out of 4×4×3=48 total

(N × L × ^D) table :	 (4, 4, 9)
Time elapsed: 0.653901 seconds
Discretizing features...

Processing 8 non-boolean variable columns...
    Computing bin edges for numeric variables...
100%|████████████████████████████████████████████| 8/8 [00:00<00:00, 228.60it/s]
    Discretizing variables to binary features
100%|█████████████████████████████████████████████| 8/8 [00:00<00:00, 87.10it/s]
Finished discretizing features

Output
X_all: shape=(4, 4, 29), density=0.203
Time elapsed: 0.800083 seconds

In [7]:
import numpy as np
import pandas as pd
import json
import sparse

S = sparse.load_npz('output-2/S_all.npz')
S_names = json.load(open('output-2/S_all.feature_names.json', 'r'))
S_index = pd.read_csv('output-2/S.ID.csv').set_index(['ID'])
df_S = pd.DataFrame(S.todense(), columns=S_names, index=S_index.index)

X = sparse.load_npz('output-2/X_all.npz')
X_names = json.load(open('output-2/X_all.feature_names.json', 'r'))
X_index = pd.read_csv('output-2/X.ID,t_range.csv').set_index(['ID', 't_range'])
df_X = pd.DataFrame(X.todense().reshape(-1, X.shape[-1]), columns=X_names, index=X_index.index)

display(df_S)
display(df_X)

,"AGE_value_(32.999, 35.8]","AGE_value_(35.8, 38.6]","AGE_value_(38.6, 42.0]","AGE_value_(42.0, 46.0]","AGE_value_(46.0, 50.0]",ROOM_value__101,ROOM_value__102,ROOM_value__103,SEX_value_F,SEX_value_M
ID,,,,,,,,,,
1,0,0,0,0,1,1,0,0,0,1
2,1,0,0,0,0,0,1,0,0,1
3,0,0,1,0,0,0,0,1,1,0
4,0,0,0,0,0,0,0,0,0,0

               HR_mask  DRUG_A_RATE_value_48  DRUG_A_ROUTE_value_Bolus  \
ID t_range
1  [0.0, 1.0)        1                     0                         0
   [1.0, 2.0)        1                     0                         0
   [2.0, 3.0)        1                     1                         0
   [3.0, 4.0)        1                     0                         0
2  [0.0, 1.0)        1                     0                         0
   [1.0, 2.0)        0                     0                         0
   [2.0, 3.0)        1                     0                         0
   [3.0, 4.0)        1                     1                         0
3  [0.0, 1.0)        0                     0                         0
   [1.0, 2.0)        1                     0                         1
   [2.0, 3.0)        0                     0                         0
   [3.0, 4.0)        0                     0                         0
4  [0.0, 1.0)        1                     0                         0
   [1.0, 2.0)        0                     0                         0
   [2.0, 3.0)        1                     0                         0
   [3.0, 4.0)        1                     0                         0

               DRUG_A_ROUTE_value_IV  DRUG_A_ROUTE_value_Oral  LAB_X_value_5  \
ID t_range
1  [0.0, 1.0)                      0                        0              0
   [1.0, 2.0)                      0                        0              0
   [2.0, 3.0)                      0                        1              0
   [3.0, 4.0)                      0                        0              0
2  [0.0, 1.0)                      0                        0              0
   [1.0, 2.0)                      0                        0              0
   [2.0, 3.0)                      0                        0              0
   [3.0, 4.0)                      1                        0              0
3  [0.0, 1.0)                      0                        0              0
   [1.0, 2.0)                      0                        0              0
   [2.0, 3.0)                      0                        0              1
   [3.0, 4.0)                      0                        0              0
4  [0.0, 1.0)                      0                        0              0
   [1.0, 2.0)                      0                        0              0
   [2.0, 3.0)                      0                        0              0
   [3.0, 4.0)                      0                        0              0

               LAB_X_value_<1  HR_delta_time_(-0.001, 1.0]  \
ID t_range
1  [0.0, 1.0)               0                            1
   [1.0, 2.0)               0                            1
   [2.0, 3.0)               1                            1
   [3.0, 4.0)               0                            1
2  [0.0, 1.0)               0                            1
   [1.0, 2.0)               0                            1
   [2.0, 3.0)               0                            1
   [3.0, 4.0)               0                            1
3  [0.0, 1.0)               0                            1
   [1.0, 2.0)               0                            1
   [2.0, 3.0)               0                            1
   [3.0, 4.0)               0                            0
4  [0.0, 1.0)               0                            1
   [1.0, 2.0)               0                            1
   [2.0, 3.0)               0                            1
   [3.0, 4.0)               0                            1

               HR_delta_time_(1.0, 2.0]  HR_value_(60.999, 69.2]  ...  \
ID t_range                                                        ...
1  [0.0, 1.0)                         0                        0  ...
   [1.0, 2.0)                         0                        0  ...
   [2.0, 3.0)                         0                        0  ...
   [3.0, 4.0)                         0                        0  ...
2  [0.0, 1.0)                         0                        1  ...
   [1.0, 2.0)                         0                        1  ...
   [2.0, 3.0)                         0                        0  ...
   [3.0, 4.0)                         0                        0  ...
3  [0.0, 1.0)                         0                        0  ...
   [1.0, 2.0)                         0                        0  ...
   [2.0, 3.0)                         0                        0  ...
   [3.0, 4.0)                         1                        0  ...
4  [0.0, 1.0)                         0                        0  ...
   [1.0, 2.0)                         0                        0  ...
   [2.0, 3.0)                         0                        1  ...
   [3.0, 4.0)                         0                        0  ...

               HR_max_(60.999, 69.2]  HR_max_(69.2, 73.6]  \
ID t_range
1  [0.0, 1.0)                      0                    1
   [1.0, 2.0)                      0                    1
   [2.0, 3.0)                      0                    0
   [3.0, 4.0)                      0                    0
2  [0.0, 1.0)                      1                    0
   [1.0, 2.0)                      1                    0
   [2.0, 3.0)                      0                    0
   [3.0, 4.0)                      0                    0
3  [0.0, 1.0)                      0                    0
   [1.0, 2.0)                      0                    0
   [2.0, 3.0)                      0                    0
   [3.0, 4.0)                      0                    0
4  [0.0, 1.0)                      0                    0
   [1.0, 2.0)                      0                    0
   [2.0, 3.0)                      1                    0
   [3.0, 4.0)                      0                    1

               HR_max_(73.6, 76.2]  HR_max_(76.2, 82.0]  HR_max_(82.0, 90.0]  \
ID t_range
1  [0.0, 1.0)                    0                    0                    0
   [1.0, 2.0)                    0                    0                    0
   [2.0, 3.0)                    1                    0                    0
   [3.0, 4.0)                    1                    0                    0
2  [0.0, 1.0)                    0                    0                    0
   [1.0, 2.0)                    0                    0                    0
   [2.0, 3.0)                    0                    1                    0
   [3.0, 4.0)                    1                    0                    0
3  [0.0, 1.0)                    0                    0                    0
   [1.0, 2.0)                    0                    0                    1
   [2.0, 3.0)                    0                    0                    1
   [3.0, 4.0)                    0                    0                    1
4  [0.0, 1.0)                    0                    1                    0
   [1.0, 2.0)                    0                    1                    0
   [2.0, 3.0)                    0                    0                    0
   [3.0, 4.0)                    0                    0                    0

               HR_mean_(60.332, 68.8]  HR_mean_(68.8, 73.6]  \
ID t_range
1  [0.0, 1.0)                       0                     1
   [1.0, 2.0)                       0                     1
   [2.0, 3.0)                       0                     0
   [3.0, 4.0)                       0                     0
2  [0.0, 1.0)                       1                     0
   [1.0, 2.0)                       1                     0
   [2.0, 3.0)                       0                     0
   [3.0, 4.0)                       0                     0
3  [0.0, 1.0)                       0                     0
   [1.0, 2.0)                       0                     0
   [2.0, 3.0)                       0                     0
   [3.0, 4.0)                       0                     0
4  [0.0, 1.0)                       0                     0
   [1.0, 2.0)                       0                     0
   [2.0, 3.0)                       1                     0
   [3.0, 4.0)                       0                     1

               HR_mean_(73.6, 75.2]  HR_mean_(75.2, 82.0]  \
ID t_range
1  [0.0, 1.0)                     0                     0
   [1.0, 2.0)                     0                     0
   [2.0, 3.0)                     1                     0
   [3.0, 4.0)                     1                     0
2  [0.0, 1.0)                     0                     0
   [1.0, 2.0)                     0                     0
   [2.0, 3.0)                     0                     1
   [3.0, 4.0)                     1                     0
3  [0.0, 1.0)                     0                     0
   [1.0, 2.0)                     0                     0
   [2.0, 3.0)                     0                     0
   [3.0, 4.0)                     0                     0
4  [0.0, 1.0)                     0                     1
   [1.0, 2.0)                     0                     1
   [2.0, 3.0)                     0                     0
   [3.0, 4.0)                     0                     0

               HR_mean_(82.0, 90.0]
ID t_range
1  [0.0, 1.0)                     0
   [1.0, 2.0)                     0
   [2.0, 3.0)                     0
   [3.0, 4.0)                     0
2  [0.0, 1.0)                     0
   [1.0, 2.0)                     0
   [2.0, 3.0)                     0
   [3.0, 4.0)                     0
3  [0.0, 1.0)                     0
   [1.0, 2.0)                     1
   [2.0, 3.0)                     1
   [3.0, 4.0)                     1
4  [0.0, 1.0)                     0
   [1.0, 2.0)                     0
   [2.0, 3.0)                     0
   [3.0, 4.0)                     0

[16 rows x 29 columns]

### Test 2.1: predetermined discretization bins

In [8]:
!mkdir -p output-2-bins

In [9]:
! PYTHONPATH="$PYTHONPATH:../../" \
python -m FIDDLE.run \
    --data_fname='./input/data.csv' \
    --population_fname='./input/pop.csv' \
    --config_fname='./input/config-2-bins.yaml' \
    --output_dir='./output-2-bins/' \
    --T=4 --dt=1.0 \
    --theta_1=0.001 --theta_2=0.001 --theta_freq=1 \
    --stats_functions 'min' 'max' 'mean' \
    --no_prefilter --no_postfilter

Input:
    Data      : ./input/data.csv
    Population: ./input/pop.csv
    Config    : ./input/config-2-bins.yaml

Output directory: ./output-2-bins/

Input arguments:
    T      = 4.0
    dt     = 1.0
    θ₁     = 0.001
    θ₂     = 0.001
    θ_freq = 1.0
    k      = 3 ['min', 'max', 'mean']

discretize = yes
    S discretization bins: input/s_all.discretization.json
    X discretization bins: input/X_all.discretization.json

N = 4
L = 4


================================================================================
2) Transform; 3) Post-filter
================================================================================

--------------------------------------------------------------------------------
*) Detecting and parsing value types
--------------------------------------------------------------------------------
Saved as: ./output-2-bins/value_types.csv

--------------------------------------------------------------------------------
*) Separate time-invariant and time-dependent
--------------------------------------------------------------------------------
Variables (time-invariant): 3
Variables (time-dependent): 4
# rows    (time-invariant): 9
# rows    (time-dependent): 23

--------------------------------------------------------------------------------
2-A) Transform time-invariant data
--------------------------------------------------------------------------------
(N × ^d) table            :	 (4, 3)
number of missing entries :	 3 out of 12 total
Time elapsed: 0.018257 seconds

Output
s_all, binary features    :	 (4, 10)
Time elapsed: 0.055306 seconds

--------------------------------------------------------------------------------
2-B) Transform time-dependent data
--------------------------------------------------------------------------------
Total variables    : 4
Frequent variables : ['HR']
M₁ = 1
M₂ = 3
k  = 3 ['min', 'max', 'mean']

Transforming each example...
100%|█████████████████████████████████████████████| 4/4 [00:00<00:00,  5.98it/s]
DONE: Transforming each example...
(freq) number of missing entries :	 5 out of 4×4×1=16 total
(freq) number of imputed entries :	 4
(freq) number of not imputed entries :	 1
(non-freq) number of missing entries :	 41 out of 4×4×3=48 total

(N × L × ^D) table :	 (4, 4, 9)
Time elapsed: 0.727093 seconds
Discretizing features...

Processing 8 non-boolean variable columns...
    Usng predetermined bin edges for numeric variables...
    Discretizing variables to binary features
100%|█████████████████████████████████████████████| 8/8 [00:00<00:00, 99.05it/s]
Finished discretizing features

Output
X_all: shape=(4, 4, 29), density=0.203
Time elapsed: 0.828591 seconds

In [10]:
import numpy as np
import pandas as pd
import json
import sparse

S = sparse.load_npz('output-2-bins/S_all.npz')
S_names = json.load(open('output-2-bins/S_all.feature_names.json', 'r'))
S_index = pd.read_csv('output-2-bins/S.ID.csv').set_index(['ID'])
df_S = pd.DataFrame(S.todense(), columns=S_names, index=S_index.index)

X = sparse.load_npz('output-2-bins/X_all.npz')
X_names = json.load(open('output-2-bins/X_all.feature_names.json', 'r'))
X_index = pd.read_csv('output-2-bins/X.ID,t_range.csv').set_index(['ID', 't_range'])
df_X = pd.DataFrame(X.todense().reshape(-1, X.shape[-1]), columns=X_names, index=X_index.index)

display(df_S)
display(df_X)

,"AGE_value_(32.999, 35.8]","AGE_value_(35.8, 38.6]","AGE_value_(38.6, 42.0]","AGE_value_(42.0, 46.0]","AGE_value_(46.0, 50.0]",ROOM_value__101,ROOM_value__102,ROOM_value__103,SEX_value_F,SEX_value_M
ID,,,,,,,,,,
1,0,0,0,0,1,1,0,0,0,1
2,1,0,0,0,0,0,1,0,0,1
3,0,0,1,0,0,0,0,1,1,0
4,0,0,0,0,0,0,0,0,0,0

               HR_mask  DRUG_A_RATE_value_48  DRUG_A_ROUTE_value_Bolus  \
ID t_range
1  [0.0, 1.0)        1                     0                         0
   [1.0, 2.0)        1                     0                         0
   [2.0, 3.0)        1                     1                         0
   [3.0, 4.0)        1                     0                         0
2  [0.0, 1.0)        1                     0                         0
   [1.0, 2.0)        0                     0                         0
   [2.0, 3.0)        1                     0                         0
   [3.0, 4.0)        1                     1                         0
3  [0.0, 1.0)        0                     0                         0
   [1.0, 2.0)        1                     0                         1
   [2.0, 3.0)        0                     0                         0
   [3.0, 4.0)        0                     0                         0
4  [0.0, 1.0)        1                     0                         0
   [1.0, 2.0)        0                     0                         0
   [2.0, 3.0)        1                     0                         0
   [3.0, 4.0)        1                     0                         0

               DRUG_A_ROUTE_value_IV  DRUG_A_ROUTE_value_Oral  LAB_X_value_5  \
ID t_range
1  [0.0, 1.0)                      0                        0              0
   [1.0, 2.0)                      0                        0              0
   [2.0, 3.0)                      0                        1              0
   [3.0, 4.0)                      0                        0              0
2  [0.0, 1.0)                      0                        0              0
   [1.0, 2.0)                      0                        0              0
   [2.0, 3.0)                      0                        0              0
   [3.0, 4.0)                      1                        0              0
3  [0.0, 1.0)                      0                        0              0
   [1.0, 2.0)                      0                        0              0
   [2.0, 3.0)                      0                        0              1
   [3.0, 4.0)                      0                        0              0
4  [0.0, 1.0)                      0                        0              0
   [1.0, 2.0)                      0                        0              0
   [2.0, 3.0)                      0                        0              0
   [3.0, 4.0)                      0                        0              0

               LAB_X_value_<1  HR_delta_time_(-0.001, 1.0]  \
ID t_range
1  [0.0, 1.0)               0                            1
   [1.0, 2.0)               0                            1
   [2.0, 3.0)               1                            1
   [3.0, 4.0)               0                            1
2  [0.0, 1.0)               0                            1
   [1.0, 2.0)               0                            1
   [2.0, 3.0)               0                            1
   [3.0, 4.0)               0                            1
3  [0.0, 1.0)               0                            1
   [1.0, 2.0)               0                            1
   [2.0, 3.0)               0                            1
   [3.0, 4.0)               0                            0
4  [0.0, 1.0)               0                            1
   [1.0, 2.0)               0                            1
   [2.0, 3.0)               0                            1
   [3.0, 4.0)               0                            1

               HR_delta_time_(1.0, 2.0]  HR_value_(60.999, 69.2]  ...  \
ID t_range                                                        ...
1  [0.0, 1.0)                         0                        0  ...
   [1.0, 2.0)                         0                        0  ...
   [2.0, 3.0)                         0                        0  ...
   [3.0, 4.0)                         0                        0  ...
2  [0.0, 1.0)                         0                        1  ...
   [1.0, 2.0)                         0                        1  ...
   [2.0, 3.0)                         0                        0  ...
   [3.0, 4.0)                         0                        0  ...
3  [0.0, 1.0)                         0                        0  ...
   [1.0, 2.0)                         0                        0  ...
   [2.0, 3.0)                         0                        0  ...
   [3.0, 4.0)                         1                        0  ...
4  [0.0, 1.0)                         0                        0  ...
   [1.0, 2.0)                         0                        0  ...
   [2.0, 3.0)                         0                        1  ...
   [3.0, 4.0)                         0                        0  ...

               HR_max_(60.999, 69.2]  HR_max_(69.2, 73.6]  \
ID t_range
1  [0.0, 1.0)                      0                    1
   [1.0, 2.0)                      0                    1
   [2.0, 3.0)                      0                    0
   [3.0, 4.0)                      0                    0
2  [0.0, 1.0)                      1                    0
   [1.0, 2.0)                      1                    0
   [2.0, 3.0)                      0                    0
   [3.0, 4.0)                      0                    0
3  [0.0, 1.0)                      0                    0
   [1.0, 2.0)                      0                    0
   [2.0, 3.0)                      0                    0
   [3.0, 4.0)                      0                    0
4  [0.0, 1.0)                      0                    0
   [1.0, 2.0)                      0                    0
   [2.0, 3.0)                      1                    0
   [3.0, 4.0)                      0                    1

               HR_max_(73.6, 76.2]  HR_max_(76.2, 82.0]  HR_max_(82.0, 90.0]  \
ID t_range
1  [0.0, 1.0)                    0                    0                    0
   [1.0, 2.0)                    0                    0                    0
   [2.0, 3.0)                    1                    0                    0
   [3.0, 4.0)                    1                    0                    0
2  [0.0, 1.0)                    0                    0                    0
   [1.0, 2.0)                    0                    0                    0
   [2.0, 3.0)                    0                    1                    0
   [3.0, 4.0)                    1                    0                    0
3  [0.0, 1.0)                    0                    0                    0
   [1.0, 2.0)                    0                    0                    1
   [2.0, 3.0)                    0                    0                    1
   [3.0, 4.0)                    0                    0                    1
4  [0.0, 1.0)                    0                    1                    0
   [1.0, 2.0)                    0                    1                    0
   [2.0, 3.0)                    0                    0                    0
   [3.0, 4.0)                    0                    0                    0

               HR_mean_(60.332, 68.8]  HR_mean_(68.8, 73.6]  \
ID t_range
1  [0.0, 1.0)                       0                     1
   [1.0, 2.0)                       0                     1
   [2.0, 3.0)                       0                     0
   [3.0, 4.0)                       0                     0
2  [0.0, 1.0)                       1                     0
   [1.0, 2.0)                       1                     0
   [2.0, 3.0)                       0                     0
   [3.0, 4.0)                       0                     0
3  [0.0, 1.0)                       0                     0
   [1.0, 2.0)                       0                     0
   [2.0, 3.0)                       0                     0
   [3.0, 4.0)                       0                     0
4  [0.0, 1.0)                       0                     0
   [1.0, 2.0)                       0                     0
   [2.0, 3.0)                       1                     0
   [3.0, 4.0)                       0                     1

               HR_mean_(73.6, 75.2]  HR_mean_(75.2, 82.0]  \
ID t_range
1  [0.0, 1.0)                     0                     0
   [1.0, 2.0)                     0                     0
   [2.0, 3.0)                     1                     0
   [3.0, 4.0)                     1                     0
2  [0.0, 1.0)                     0                     0
   [1.0, 2.0)                     0                     0
   [2.0, 3.0)                     0                     1
   [3.0, 4.0)                     1                     0
3  [0.0, 1.0)                     0                     0
   [1.0, 2.0)                     0                     0
   [2.0, 3.0)                     0                     0
   [3.0, 4.0)                     0                     0
4  [0.0, 1.0)                     0                     1
   [1.0, 2.0)                     0                     1
   [2.0, 3.0)                     0                     0
   [3.0, 4.0)                     0                     0

               HR_mean_(82.0, 90.0]
ID t_range
1  [0.0, 1.0)                     0
   [1.0, 2.0)                     0
   [2.0, 3.0)                     0
   [3.0, 4.0)                     0
2  [0.0, 1.0)                     0
   [1.0, 2.0)                     0
   [2.0, 3.0)                     0
   [3.0, 4.0)                     0
3  [0.0, 1.0)                     0
   [1.0, 2.0)                     1
   [2.0, 3.0)                     1
   [3.0, 4.0)                     1
4  [0.0, 1.0)                     0
   [1.0, 2.0)                     0
   [2.0, 3.0)                     0
   [3.0, 4.0)                     0

[16 rows x 29 columns]

## Test 3: discretize = True, use_ordinal_encoding = True

In [11]:
!mkdir -p output-3

In [12]:
! PYTHONPATH="$PYTHONPATH:../../" \
python -m FIDDLE.run \
    --data_fname='./input/data.csv' \
    --population_fname='./input/pop.csv' \
    --config_fname='./input/config-3.yaml' \
    --output_dir='./output-3/' \
    --T=4 --dt=1.0 \
    --theta_1=0.001 --theta_2=0.001 --theta_freq=1 \
    --stats_functions 'min' 'max' 'mean' \
    --no_prefilter --no_postfilter

Input:
    Data      : ./input/data.csv
    Population: ./input/pop.csv
    Config    : ./input/config-3.yaml

Output directory: ./output-3/

Input arguments:
    T      = 4.0
    dt     = 1.0
    θ₁     = 0.001
    θ₂     = 0.001
    θ_freq = 1.0
    k      = 3 ['min', 'max', 'mean']

discretize = yes
    S discretization bins: to be computed from data
    X discretization bins: to be computed from data

N = 4
L = 4


================================================================================
2) Transform; 3) Post-filter
================================================================================

--------------------------------------------------------------------------------
*) Detecting and parsing value types
--------------------------------------------------------------------------------
Saved as: ./output-3/value_types.csv

--------------------------------------------------------------------------------
*) Separate time-invariant and time-dependent
--------------------------------------------------------------------------------
Variables (time-invariant): 3
Variables (time-dependent): 4
# rows    (time-invariant): 9
# rows    (time-dependent): 23

--------------------------------------------------------------------------------
2-A) Transform time-invariant data
--------------------------------------------------------------------------------
(N × ^d) table            :	 (4, 3)
number of missing entries :	 3 out of 12 total
Time elapsed: 0.018871 seconds

Output
s_all, binary features    :	 (4, 10)
Time elapsed: 0.061661 seconds

--------------------------------------------------------------------------------
2-B) Transform time-dependent data
--------------------------------------------------------------------------------
Total variables    : 4
Frequent variables : ['HR']
M₁ = 1
M₂ = 3
k  = 3 ['min', 'max', 'mean']

Transforming each example...
100%|█████████████████████████████████████████████| 4/4 [00:00<00:00,  5.89it/s]
DONE: Transforming each example...
(freq) number of missing entries :	 5 out of 4×4×1=16 total
(freq) number of imputed entries :	 4
(freq) number of not imputed entries :	 1
(non-freq) number of missing entries :	 41 out of 4×4×3=48 total

(N × L × ^D) table :	 (4, 4, 9)
Time elapsed: 0.735244 seconds
Discretizing features...

Processing 8 non-boolean variable columns...
    Computing bin edges for numeric variables...
100%|████████████████████████████████████████████| 8/8 [00:00<00:00, 313.93it/s]
    Discretizing variables to binary features
100%|█████████████████████████████████████████████| 8/8 [00:00<00:00, 38.42it/s]
Finished discretizing features

Output
X_all: shape=(4, 4, 29), density=0.420
Time elapsed: 0.989317 seconds

In [13]:
import numpy as np
import pandas as pd
import json
import sparse

S = sparse.load_npz('output-3/S_all.npz')
S_names = json.load(open('output-3/S_all.feature_names.json', 'r'))
S_index = pd.read_csv('output-3/S.ID.csv').set_index(['ID'])
df_S = pd.DataFrame(S.todense(), columns=S_names, index=S_index.index)

X = sparse.load_npz('output-3/X_all.npz')
X_names = json.load(open('output-3/X_all.feature_names.json', 'r'))
X_index = pd.read_csv('output-3/X.ID,t_range.csv').set_index(['ID', 't_range'])
df_X = pd.DataFrame(X.todense().reshape(-1, X.shape[-1]), columns=X_names, index=X_index.index)

display(df_S)
display(df_X)

,AGE_value>=33.0,AGE_value>=35.8,AGE_value>=38.6,AGE_value>=42.0,AGE_value>=46.0,ROOM_value__101,ROOM_value__102,ROOM_value__103,SEX_value_F,SEX_value_M
ID,,,,,,,,,,
1,1,1,1,1,1,1,0,0,0,1
2,0,0,0,0,0,0,1,0,0,1
3,1,1,1,0,0,0,0,1,1,0
4,0,0,0,0,0,0,0,0,0,0

               HR_mask  DRUG_A_RATE_value_48  DRUG_A_ROUTE_value_Bolus  \
ID t_range
1  [0.0, 1.0)        1                     0                         0
   [1.0, 2.0)        1                     0                         0
   [2.0, 3.0)        1                     1                         0
   [3.0, 4.0)        1                     0                         0
2  [0.0, 1.0)        1                     0                         0
   [1.0, 2.0)        0                     0                         0
   [2.0, 3.0)        1                     0                         0
   [3.0, 4.0)        1                     1                         0
3  [0.0, 1.0)        0                     0                         0
   [1.0, 2.0)        1                     0                         1
   [2.0, 3.0)        0                     0                         0
   [3.0, 4.0)        0                     0                         0
4  [0.0, 1.0)        1                     0                         0
   [1.0, 2.0)        0                     0                         0
   [2.0, 3.0)        1                     0                         0
   [3.0, 4.0)        1                     0                         0

               DRUG_A_ROUTE_value_IV  DRUG_A_ROUTE_value_Oral  LAB_X_value_5  \
ID t_range
1  [0.0, 1.0)                      0                        0              0
   [1.0, 2.0)                      0                        0              0
   [2.0, 3.0)                      0                        1              0
   [3.0, 4.0)                      0                        0              0
2  [0.0, 1.0)                      0                        0              0
   [1.0, 2.0)                      0                        0              0
   [2.0, 3.0)                      0                        0              0
   [3.0, 4.0)                      1                        0              0
3  [0.0, 1.0)                      0                        0              0
   [1.0, 2.0)                      0                        0              0
   [2.0, 3.0)                      0                        0              1
   [3.0, 4.0)                      0                        0              0
4  [0.0, 1.0)                      0                        0              0
   [1.0, 2.0)                      0                        0              0
   [2.0, 3.0)                      0                        0              0
   [3.0, 4.0)                      0                        0              0

               LAB_X_value_<1  HR_delta_time>=0.0  HR_delta_time>=1.0  \
ID t_range
1  [0.0, 1.0)               0                   0                   0
   [1.0, 2.0)               0                   0                   0
   [2.0, 3.0)               1                   0                   0
   [3.0, 4.0)               0                   0                   0
2  [0.0, 1.0)               0                   0                   0
   [1.0, 2.0)               0                   1                   0
   [2.0, 3.0)               0                   0                   0
   [3.0, 4.0)               0                   0                   0
3  [0.0, 1.0)               0                   0                   0
   [1.0, 2.0)               0                   0                   0
   [2.0, 3.0)               0                   1                   0
   [3.0, 4.0)               0                   1                   1
4  [0.0, 1.0)               0                   0                   0
   [1.0, 2.0)               0                   1                   0
   [2.0, 3.0)               0                   0                   0
   [3.0, 4.0)               0                   0                   0

               HR_value>=61.0  ...  HR_max>=61.0  HR_max>=69.2  HR_max>=73.6  \
ID t_range                     ...
1  [0.0, 1.0)               1  ...             1             1             0
   [1.0, 2.0)               1  ...             1             1             0
   [2.0, 3.0)               1  ...             1             1             1
   [3.0, 4.0)               1  ...             1             1             1
2  [0.0, 1.0)               0  ...             0             0             0
   [1.0, 2.0)               0  ...             0             0             0
   [2.0, 3.0)               1  ...             1             1             1
   [3.0, 4.0)               1  ...             1             1             1
3  [0.0, 1.0)               0  ...             0             0             0
   [1.0, 2.0)               1  ...             1             1             1
   [2.0, 3.0)               1  ...             1             1             1
   [3.0, 4.0)               1  ...             1             1             1
4  [0.0, 1.0)               1  ...             1             1             1
   [1.0, 2.0)               1  ...             1             1             1
   [2.0, 3.0)               1  ...             1             0             0
   [3.0, 4.0)               1  ...             1             1             0

               HR_max>=76.2  HR_max>=82.00000000000001  \
ID t_range
1  [0.0, 1.0)             0                          0
   [1.0, 2.0)             0                          0
   [2.0, 3.0)             0                          0
   [3.0, 4.0)             0                          0
2  [0.0, 1.0)             0                          0
   [1.0, 2.0)             0                          0
   [2.0, 3.0)             1                          0
   [3.0, 4.0)             0                          0
3  [0.0, 1.0)             0                          0
   [1.0, 2.0)             1                          1
   [2.0, 3.0)             1                          1
   [3.0, 4.0)             1                          1
4  [0.0, 1.0)             1                          0
   [1.0, 2.0)             1                          0
   [2.0, 3.0)             0                          0
   [3.0, 4.0)             0                          0

               HR_mean>=60.333333333333336  HR_mean>=68.80000000000001  \
ID t_range
1  [0.0, 1.0)                            1                           1
   [1.0, 2.0)                            1                           1
   [2.0, 3.0)                            1                           1
   [3.0, 4.0)                            1                           1
2  [0.0, 1.0)                            0                           0
   [1.0, 2.0)                            1                           0
   [2.0, 3.0)                            1                           1
   [3.0, 4.0)                            1                           1
3  [0.0, 1.0)                            0                           0
   [1.0, 2.0)                            1                           1
   [2.0, 3.0)                            1                           1
   [3.0, 4.0)                            1                           1
4  [0.0, 1.0)                            1                           1
   [1.0, 2.0)                            1                           1
   [2.0, 3.0)                            1                           0
   [3.0, 4.0)                            1                           1

               HR_mean>=73.6  HR_mean>=75.2  HR_mean>=82.00000000000001
ID t_range
1  [0.0, 1.0)              0              0                           0
   [1.0, 2.0)              0              0                           0
   [2.0, 3.0)              1              0                           0
   [3.0, 4.0)              1              0                           0
2  [0.0, 1.0)              0              0                           0
   [1.0, 2.0)              0              0                           0
   [2.0, 3.0)              1              1                           0
   [3.0, 4.0)              1              0                           0
3  [0.0, 1.0)              0              0                           0
   [1.0, 2.0)              1              1                           1
   [2.0, 3.0)              1              1                           1
   [3.0, 4.0)              1              1                           1
4  [0.0, 1.0)              1              1                           0
   [1.0, 2.0)              1              1                           0
   [2.0, 3.0)              0              0                           0
   [3.0, 4.0)              0              0                           0

[16 rows x 29 columns]